# Django
DJANGO_SECRET_KEY=cambie-esta-clave-en-produccion
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Neo4j
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=skillgraph2026
NEO4J_DATABASE=neo4j

# Motor de matching (coeficientes versionados)
MATCHING_VERSION=1.0.0
W_COBERTURA=0.60
W_NIVEL=0.25
W_CENTRALIDAD=0.10
W_ADYACENCIA=0.05
